# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# MacOS/Xcode crap
.DS_Store
xcuserdata
*xccheckout

*Makefile
config.h
config.log
config.status
doc/Doxyfile
.deps
garfeild/garfeild.pc
samples/filedetect/filedetect
samples/fullcalib/fullcalib
samples/interactive/interactive
samples/multicam/multicam
samples/multicam/multigl
samples/singlecalib/augment3d
samples/singlecalib/singlecalib
stamp-h1
starter/starter.pc
samples/*/normals.mat
samples/*/*.bmp*
samples/*/camera*.txt
samples/*/lightParams.mat
samples/*/view_r_t.txt
